#Content/VehicleCPP/Maps/*
Assets/TextMesh Pro/*
Assets/Audio/*
Library
Logs
Packages
ProjectSettings
Temp
UserSettings
obj/*
.vsconfig
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.mp3
*.wav